:root {
--color-background: #0D0D0D;
--color-secondary: #474747;
--color-primary: #EEEEEE;
--color-muted: #A3A3A3;       
--color-error: #E63946; 
--color-success: #2A9D8F;  

  /* Typography */
  --font-base: 'Courier', monospace;
  --font-size-base: 15px;
  /* Layout */
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background-color: var(--color-background);
  transition: color 0.3s, background-color 0.3s;
  line-height: 1.6;
  font-family: var(--font-base), monospace;
  font-size: var(--font-size-base);
  letter-spacing: 0.1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border: none;
  padding: 0.5rem;
  outline: none;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  background-color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  font-weight: bold;
}
